.ad-preview {
  width: 800px;
  display: flex;
  border: olive solid 2px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  padding-bottom: 25px;
  background-color: rgb(0,0,0,0.03);
}

.ad-preview img {
  border: none;
  border-radius: 12px;
  margin-right: 30px;
}

.description-container * {
  padding-top: 5px;
}