.header {
  padding: 1rem;
  background-color: #00aaff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.web-name-container img {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  margin-right: 10px;
}

p.web-name {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;

}

.search-container {
  display: flex;
}

.search-container input {
  width: 300px;
  height: 40px;
  background-color: aliceblue;
  padding: 5px;
  border: olive solid 2px;
  border-color: olive;
  border-right: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  color: black;

}

.search-button {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  padding: 0;
  border: olive solid 2px;
  border-color: olive;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-button img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: 2px;
}



.right-section-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #ffffff;
  font-weight: 600;
}

.user-image {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}