.stats-page {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1000px;
  justify-content: center;
  margin-bottom: 100px;
}
.stats-page h1 {
  margin-top: 15px;
}
.stats-page h4 {
  margin-bottom: 20px;
}
.simple-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.simple-stats p {
  border: rgb(0,0,0,0.5) solid 2px;
  margin: 15px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  width: 220px;
}

.period-container {
  background-color: azure;
  border: rgb(0,0,0,0.5) solid 1px;
  padding: 10px;
  border-radius: 8px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.period-container * {
  margin: 15px;
}
.period-container button {
  background-color: white;
  color: black;
  border: rgb(0,0,0,0.5) solid 1px;
}
.period-container .active {
  font-weight: 700;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  height: 350px;
}
.activity-charts canvas {
  width: 450px;
}
.categories-chart {
  height: 550px;
}
.categories-chart canvas {
  height: 350px;
}
